# Java općenito
*.class
*.jar
*.war
*.ear
*.log

# Build mape
target/
bin/
out/

# IDE-ovi
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specifično
.DS_Store
Thumbs.db

# Maven cache (ne mora, ali ako želiš full clean)
.mvn/timing.properties

# Log fajlovi
*.log

# Env
.env
.env.*

# Radni fajlovi, privremeni, backupi
*.tmp
*.bak
*.swp
*.orig

# IntelliJ run configs
*.run/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Linux / Mac OS
*.out

# Windows
*.exe
*.dll
*.bat

# Lokalni config fajlovi
application.properties
application.yml
